@model WebAppFormMVC.Models.ContactMessage

@{
    ViewData["Title"] = "Formuulario de Contacto";
}

<h2>Formulario de Contacto</h2>

@if(TempData["SuccessMessage"]!=null)
{
    <div class="alert alert-success"?>
        @TempData["SuccessMessage"]
    </div>
}

<form asp-action="Submit" method="post">
    <div>
        <label>Nombre: </label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div>
        <label>Correo Electrónico: </label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label>Mensaje:</label>
<textarea asp-for="Mensaje" class="form-control"></textarea>
        <span asp-validation-for="Mensaje" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
